body{width:100%;}
	a{text-decoration:none;list-style: none;}



/*.......................................................................................................*/
.navline{
    height:3px;
    position: relative;
    background-color: #1caebc; 
    margin-bottom: -16.5px;   
    width: 100%;     /* #1896a2;*/
}

/*...........................................................................................................*/

.all{
    width: 71.5%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.followbar{
    background-color: #f2f2f2;
    width: 100%;
    height:43px;

}
.ul0{
   margin-left: -85%; 
} 
.li0 {
    float: right;
    list-style: none;
    text-decoration: none;
    margin-right: 8px;

}
.followbar ul li i{
    height: 25px;
    width: 25px;
    line-height: 25px;
    color: #fff;
    background-color: #1caebc;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
   
}
.followbar ul li i:hover{background-color: #1896a2;}
.li00{
    line-height: 40px;
    list-style: none;
    text-decoration: none;
    font-family: tahoma;
    color: #7d7d84;
    font-size: 12px;
    margin-left: -33px;
    display: block;
}
#headtext{
    list-style: none;
    text-decoration: none;
}


/*.........................................................................................................................................*/


.li1{
    float: left;
    list-style: none;
    text-decoration: none;
    margin-left: -65px;
    margin-top: 5px;
}
.ul1{
        margin-right: -85%;  
}

.navbar{
    height: 77px;
    width: 100%;
}

.ul{
    line-height: 44px;
    margin-left: -85%;  
    display: block;
}
.li{
    float: right;
    list-style: none;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 25px;
}
.navbar ul li a{
    font-family: tahoma;
    color: #7d7d84;
    font-size: 14px;
    font-weight: 555;
}    
.navbar ul li a:hover{
    color: #1caebc;
    
}
#navicon{
    color: #1caebc;
    border: 1.5px solid #d7d7d7;
    border-radius: 1.5px;
    height: 30px;
    width: 40px;
    text-align: center;
    font-size: 25px;
    line-height: 34px;
    cursor: pointer;
    margin-top: 5px;
    display: none;
}
#navicon:hover{
    background-color: #f7f7f7;
}

/*.........................................................................................*/

/*.........................................................................................*/
.midpng{
    margin-top: -250px;
}

.bigmiddle{
    height: 700px; /* 85% */
    width: 100%;
    margin-top: -17px;
}
.middle{                
    /*height: 100%;*/
    width: 70%; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.middbutondiv{
    width: 100%;
    height: 45px;
    margin-top: 20%;
    margin-top: -160px;
}

.middbutondiv ul {
    line-height: -5px;
    height: 45px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 1.5px solid #f7f7f7;
    background-color: transparent;
    cursor: pointer;
}
.middbutondiv ul:hover{
	background-color: #1caebc;
	border: 1.5px solid #1caebc;
	-webkit-transition:background-color .7s;
    -moz-transition:background-color .7s;
    -o-transition:background-color .7s;
    transition:background-color .7s;
    -webkit-transition:border .1s;
    -moz-transition:border .1s;
    -o-transition:border .1s;
    transition:border .1s;
}
.middbutondiv ul li {
    list-style: none;
    color: #f7f7f7;
}
        
.middbutondiv ul li a h5{
    color: #f7f7f7;
    margin-left: -40px;
    margin-top: 15px;
    letter-spacing: 1px;
}

/*.................................................................................................*/
.lawnbo{
    display: none;
}
.homecon{
   	height: 800px;
   	width: 100%;
   	margin-top: 119px;
}

.shar{
    margin-top: -20px;
    width: 100%;
    height: 270px;
    text-align: left;
    background-color: #3b4251;
}
.lawn{width: 70%;height:100%;margin-left: auto;margin-right: auto; }
.lawn ul{
    color: #fff;
    margin:0px;
    padding: 0px;
}
.lawnli0{
    float: left;
    list-style: none;
    margin-top: 9%;
}
.lawnli1{
    float: right;
    list-style: none;
    margin-top: 7.4%;
}
.lawnli1 h4{
    float: right;
    height: 55px;
    line-height: 55px;
    width: 210px;
    border-radius: 1px;
    background-color: #1caebc;
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}
.lawnli1 h4:hover{
    background-color:#1caebc; 
}
.row{
    width: 100%;
    height: 70%;
    text-align: center;
}
.whoweare{
    width: 85%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}
.wwrul{padding: 20px  0px 1px 0px;}
.wwrli {
    list-style: none;
    font-family: tahoma;
    color: #7d7d84;
}
.wwrli i{
    height: 44px;
    width: 44px;
    line-height:44px;
    background-color: #1caebc;
    border-radius: 1.5px;
    color: #fff;

}
.wwrli h3{
}
.aboutline{
    background-color: #7d7d84;
    width: 180px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -17px;
}

.NKA{
    width: 100%;
    height: 180px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
}
.NKA div{
    float: left;
    width: 30%;
    height: 178px;
    border: 2px solid #ebebeb;
    margin-left: 2.5%;
}

.NKA i{
    height: 62px;
    line-height: 62px;
    width: 62px;
    border-radius: 50%;
    color: #fff;
    background-color: #1caebc;
    font-size: 23px;
    margin-top: -29px;
}
.NKA p, .most p{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
    font-family:tahoma;
    color: #817c7c;
    font-size: 14px;
    font-weight: 555;

}

/**................................................................................*/
/**................................................................................*/

.mome{
	margin-top: -60px;
    width: 100%;
    height: 460px;
    background-color: #3b4251;  /*.. #E9EBEA */
}
.most{
    height: 380px;
    width: 80%;

    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 10px;
}

.sps{
	width: 100%;
	text-align: center;
}
.BTIUL{padding: 20px  0px 1px 0px;}
.BTIUL li{
    list-style: none;
    font-family: tahoma;
    color: #e9e9e9;
}
.BTILI i{
    height: 44px;
    width: 44px;
    line-height:44px;
    background-color: #1caebc;
    border-radius: 1.5px;
    color: #fff;
    text-align: center;

}

.aboutline{
    background-color: #e9e9e9;
    width: 180px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -17px;
}
.quote{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top:50px; 

}
.quote p{
		color: #d3d3d3;/*#cfcaca;*/
		text-align: center;
        letter-spacing: 0;
}


.PART1{
	width: 40%;
	float: left;
	margin-top: 40px;
	padding-left: 8%;

}

.skill1{
	height: 30px;
    line-height: 20px;
    width: 100%;
    border-radius: 4px;
    background-color: #7d7d84;
    margin-bottom: 18px;

}
.tabl1{
	 width: 60%;
    height: 100%;
    background-color:#1caebc;


}
.clonetb1{
	width: 60%;
    height: 100%;
    background-color:#1caebc;
    border-radius: 4px;
    text-align: : left;

  
}
.clonetb1 a,.clonetb2 a , .clonetb3 a , .clonetb4 a , .clonetb5 a , .clonetb6 a{
	color: #e9e9e9;
    font-family:tahoma;
    font-size: 14px;
    font-weight: 555;
    line-height: 30px;
    margin-left: 15px;
}
.clonetb2{
	width: 50%;
    height: 100%;
    background-color:#1caebc;
    border-radius: 4px;
    text-align: : left;
}
.clonetb3{
	width: 30%;
    height: 100%;
    background-color:#1caebc;
    border-radius: 4px;
    text-align: : left;
}


.PART2{
	width: 40%;
	float: right;
	margin-top: 40px;
	padding-right: 8%;
}
.clonetb4{
	width: 90%;
    height: 100%;
    background-color:#1caebc;
    border-radius: 4px;
    text-align: : left;
}
.clonetb5{
	width: 40%;
    height: 100%;
    background-color:#1caebc;
    border-radius: 4px;
    text-align: : left;
}
.clonetb6{
	width: 80%;
    height: 100%;
    background-color:#1caebc;
    border-radius: 4px;
    text-align: : left;
}


/**********......................................contactus.........................*************************/



.contactus{
    width: 100%;
    height: 850px;
}
.hcon{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.contxts{
    width: 100%;
    padding: 80px 0px 0px 0px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.contxts a{
    font-family: tahoma;
    color: #898989;
    font-size: 14px;
    font-weight: 555;
}
.condivtab{
    height: 50px;
    width: 161px;
    margin-left: auto;
    margin-right: auto;
}
.flcon{
    margin-left:12px;
    padding: 10px 0px 0px 0px ; 
}
.flcon li{
    float: left;
    list-style: none;
}
.flcon i{
    color:#1caebc;
    font-size: 14px;
    margin-right: 12px;
    cursor: pointer;
}


/******************************** submit **********************************/

.field{text-align: center;margin-top: 20px;}
.field input{
    width:47.5%;
    background-color: #fff;
    height: 50px;
    margin-top: 5px;
    border:none;
    outline:none;
    font-size: 14px;
    padding: 6px 16px;
    letter-spacing: 0.5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-border: 2px solid #e1e1e1;
    -moz-border: 2px solid #e1e1e1;
    -o-border: 2px solid #e1e1e1;
    border: 2px solid #e1e1e1;
    -webkit-transition:border .7s;
    -moz-transition:border .7s;
    -o-transition:border .7s;
    transition:border .7s;


    -webkit-transitionall: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;

    -webkit-transitionall: background-color .7s;
    -moz-transition: background-color .7s;
    -o-transition: background-color .7s;
    transition: background-color .7s;

}
.textarea{
    width:47.5%;
    background-color: #fff;
    height: 250px;
    margin-top: 5px;
    border:none;
    outline:none;
    font-size: 14px;
    padding: 6px 16px;
    letter-spacing: 0.5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-border: 2px solid #e1e1e1;
    -moz-border: 2px solid #e1e1e1;
    -o-border: 2px solid #e1e1e1;
    border: 2px solid #e1e1e1;
    -webkit-transitionall: border .7s;
    -moz-transition: border .7s;
    -o-transition: border .7s;
    transition: border .7s;
}

.submit{
    font-family: tahoma;
    font-weight: bold;

}
.input:focus{border: 2px solid #1caebc;}
.input:hover{border: 2px solid #1caebc;}
.textarea:focus{border: 2px solid #1caebc;}
.textarea:hover{border: 2px solid #1caebc;}
.submit:hover{border: 2px solid #1caebc;background-color: #1caebc;color: #fff;}


/*.................................................................................................................................*/


.allmz{
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.followbarmz{
    background-color: #3b4251;
    width: 100%;
    height:55px;

}
.ul0mz{
   margin-left: -85%; 
} 
.li0mz {
    float: right;
    list-style: none;
    text-decoration: none;
    margin-right: 8px;

}
.followbarmz ul li i{
    height: 35px;
    line-height: 35px;
    width: 35px;
    border-radius: 1.5px;
    color: #fff;
    background-color: #4e586e;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}
.li00mz{
    line-height: 40px;
    list-style: none;
    text-decoration: none;
    font-family: tahoma;
    margin-top:-10px; 
    font-size: 12px;
    margin-left: -33px;
    display: block;
    margin-top: 0px;
}

#headtextmzmz{
    text-decoration: none;
    list-style: none;
    line-height: 55px;
    list-style: none;
    text-decoration: none;
    font-family: tahoma;
    color: #e9e9e9;
    font-size: 12px;

    display: block;
}
.ul00mz{
    padding-right: 0;
    padding-left: 0;
}
.ul00mz li{
    float: left;
    text-decoration: none;
    list-style: none;

}
.ul00mz img{
        margin-top: 8px;
}
.followbarmz ul li i:hover{
    background-color: #1caebc;
}